<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div *ngIf="!logged">
    <h1>Acessar</h1>
    <input type="text" class="form-input" [(ngModel)]="user.email" name="email" placeholder="E-mail">
    <input type="password" class="form-input" [(ngModel)]="user.password" name="password" placeholder="Senha">
    <button class="btn btn--login" (click)="login()">Logar</button>
    <button class="btn btn--second" (click)="signup()">Registrar</button>
  </div>
</ion-content>
