page-login {
  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      font-size: 34px;
      font-weight: 700;
      color: #9a9a9a;
    }

    .btn--login {
        background: #FFC107;
        color: white;
        display: inline;
    }
    .btn--signup {
        display: inline;

    }
  }
  .form-input {
    width: 100%;
    display: block;
    border-radius: 30px;
    border: 1px solid #FFC107;
    padding: 12px 16px;
    color: #404040;
    font-weight: 400;
    margin-bottom: 16px;
    -webkit-transition: ease-in-out 500ms;
    transition: ease-in-out 500ms;
  }
  .form-input:focus {
    box-shadow: 0px 0px 30px rgba(255, 193, 7, 0.45);
  }

  .searchIndex {
    position: relative;
    margin: 16px 0px;
  }
  .contentIndex {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
  .submitIndex {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: gold;
    border: 1px solid gold;
    color: white;
  }
}
