<!--
  Generated template for the MessageModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Enviar Mensagem</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeMessageModal()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card message-bubble class="animated fadeInUp welasubject__card" (click)="sendMessage(1)">
    <img src="assets/img/award.svg" />
    <div class="card-title">Elogiar</div>
  </ion-card>

  <ion-card message-bubble class="animated fadeInUp welasubject__card" (click)="sendMessage(2)">
    <img src="assets/img/complain.svg" />
    <div class="card-title">Reclamar</div>
  </ion-card>

  <ion-card message-bubble class="animated fadeInUp welasubject__card" (click)="sendMessage(3)">
    <img src="assets/img/inbox.svg" />
    <div class="card-title">Sugestão</div>
  </ion-card>

  <ion-card message-bubble class="animated fadeInUp welasubject__card" (click)="sendMessage(4)">
    <img src="assets/img/suggestion.svg" />
    <div class="card-title">Dúvida</div>
  </ion-card>

</ion-content>