page-message-modal {
  ion-card {
    position: relative;
    text-align: center;
  }
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #929292;
    text-shadow: 0px 0px 5px white;
  }
  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }
  .welasubject__card {
    border-radius: 50px;
    height: 100px;
    box-shadow: 0px 0px 30px 0px #d6d6d6;
    transition: ease-in-out 300ms;
    img {
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
    &:hover {
      transform: scale(1.03);
    }
  }
}
