page-favoritos {
    .searchIndex {
        position: relative;
        margin: 16px 0px;
      }
      .contentIndex {
        width: 100%;
        padding: 11px;
        border-radius: 10px;
        border: 1px solid lightgray;
      }
      .submitIndex {
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 10px 10px;
        border-radius: 10px;
        background-color: gold;
        border: 1px solid gold;
        color: white;
      }

      .favorite-card {
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
        border-radius: 5px;
        margin-bottom: 16px;
        h2 {
          font-weight: 700;
        }
        img {
          object-fit: cover;
          border-radius: 5px;
        }
      }
}
