<ion-header no-border>
  <ion-navbar>
    <ion-title>
      Favoritos
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="angular"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <h1 class="h1--header"><span>Aqui você encontra seus</span> cartões favoritos<span>.</span></h1>
  <div class="searchIndex">
    <input type="text" placeholder="Filtre seu favorito" (input)="filterItems()" [(ngModel)]="searchService" class="contentIndex">
  </div>
  <ion-list id="favoritos-list2">
    <ion-item *ngFor="let fav of results" class="favorite-card" (click)="open(fav.card_id)">
      <ion-thumbnail item-left>
        <img src="http://otavioalenski.techpublic.com.br/wela/api/v2/cardsphoto/{{fav.photo_url}}"/>
      </ion-thumbnail>
      <h2>
        {{ fav.title }}
      </h2>
      <h4>
        {{ fav.author }}
      </h4>
      <small>{{ fav.description }}</small>
    </ion-item>

  </ion-list>
</ion-content>
