<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>Fazer Parte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <h1>Cadastro</h1>
    <form (ngSubmit)="registerUser()">
      <input type="text" class="form-input" [(ngModel)]="user.name" name="name" placeholder="Nome Completo">
      <input type="email" class="form-input" [(ngModel)]="user.email" name="email" placeholder="Email">
      <input type="text" class="form-input" [(ngModel)]="user.main_phone" name="main_phone" placeholder="Telefone">
      <input type="text" class="form-input" [(ngModel)]="user.address" name="address" placeholder="Endereço">
      <input type="text" class="form-input" [(ngModel)]="user.city" name="city" placeholder="Cidade">
      <input type="text" class="form-input" [(ngModel)]="user.state" name="state" placeholder="Estado">
      <ion-item>
        <ion-datetime class="form-input" displayFormat="DD/MM/YYYY" [(ngModel)]="user.birthday" name="birthday"></ion-datetime>
      </ion-item>
      <input type="password" class="form-input" [(ngModel)]="user.password" name="password" placeholder="Senha">
      <button class="btn btn--login" type="submit">Registrar</button>
      <button class="btn btn--second" type="reset">Limpar</button>
    </form>
  </div>
</ion-content>

