page-register {
    .scroll-content {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // flex-direction: column;
        h1 {
          font-size: 34px;
          font-weight: 700;
          color: #9a9a9a;
        }
    
        .btn--login {
            background: #FFC107;
            color: white;
            display: inline;
        }
        .btn--signup {
            display: inline;
    
        }
      }
      ion-item {
        padding: 0px !important;
      }
      .form-input {
        width: 100%;
        display: block;
        border-radius: 30px;
        border: 1px solid #FFC107;
        padding: 12px 16px;
        color: #404040;
        font-weight: 400;
        margin-bottom: 16px;
        -webkit-transition: ease-in-out 500ms;
        transition: ease-in-out 500ms;
      }
      .form-input:focus {
        box-shadow: 0px 0px 30px rgba(255, 193, 7, 0.45);
      }
}
