page-message {
    .bottom-send {
        position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    }
    .submitMsg {
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 10px 10px;
        border-radius: 10px;
        background-color: #327eff;
        border: 1px solid #327eff;
        color: white;
    }
    .searchIndex {
        position: relative;
        margin: 5px 0px;
    }
    .contentIndex {
        width: 100%;
        padding: 11px;
        border-radius: 10px;
        border: 1px solid lightgray;
    }
    .mytext {
        border: 0;
        padding: 10px;
        background: whitesmoke;
    }
    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .text>p:first-of-type {
        width: 100%;
        margin-top: 0;
        margin-bottom: auto;
        line-height: 1.5;
        font-size: 14px;
    }
    .text>p:last-of-type {
        width: 100%;
        text-align: right;
        color: silver;
        margin-bottom: -7px;
        margin-top: auto;
    }
    .text p small {
        color: white;
    }
    .text-l {
        float: left;
        padding-right: 10px;
    }
    .text-r {
        float: right;
        padding-left: 10px;
    }
    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        float: left;
        padding-right: 10px;
    }
    .macro {
        margin-top: 5px;
        width: 85%;
        border-radius: 5px;
        padding: 10px;
        display: flex;
    }
    .msj-rta {
        float: right;
        background: whitesmoke;
    }
    .msj {
        float: left;
        background: #ffdc21;
    }
    ul {
        width: 100%;
        list-style-type: none;
        padding: 18px;
        position: absolute;
        bottom: 47px;
        display: flex;
        flex-direction: column;
        top: 0;
        overflow-y: scroll;
    }
}