<ion-header no-border>
  <ion-navbar>
    <ion-title>
      Pesquisa
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="page2">
  <form id="pesquisa-form2">
    <ion-item id="pesquisa-select1">
      <ion-select name="filterBy" [(ngModel)]="terms" class="filterSelect" placeholder="Selecione uma Categoria" on>
        <ion-option value="1">Beleza</ion-option>
        <ion-option value="2">Marketing</ion-option>
        <ion-option value="3">T.I.</ion-option>
      </ion-select>

    </ion-item>
  </form>
  <ion-list>
    <ion-item-sliding>
      <ion-item *ngFor="let c of cards" class="animated fadeInUp">
        <ion-card id="pesquisaCard{{c.id}}" class="wela__search-card" (click)="openCard(c.id);">
          <ion-list>
            <div style="width:100%;max-height: 200px;margin:0px 0px;line-height:250px;background-color:#e8ebef;text-align:center;">
              <img *ngIf="c.photo_url" src="http://otavioalenski.techpublic.com.br/wela/api/v2/cardsphoto/{{c.photo_url}}">
            </div>
            <ion-item id="pesquisa-list-item-container2">
              <ion-grid>
                <ion-row>
                  <ion-col class="rating">
                    <ion-icon class="fa fa-star"></ion-icon>
                    <ion-icon class="fa fa-star"></ion-icon>
                    <ion-icon class="fa fa-star"></ion-icon>
                    <ion-icon class="fa fa-star"></ion-icon>
                    <ion-icon class="fa  fa-star-half-o"></ion-icon>
                  </ion-col>
                  <ion-col class="followers">
                    10.000 seg.
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item color="none" id="pesquisa-list-item9">

              <ion-avatar item-left>
                <img src="assets/img/avatar.png" />
              </ion-avatar>
              <h2>{{ c.author }}</h2>
              <h3>
                {{ c.title }}
              </h3>

              <h4>{{ c.category }}</h4>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
