page-pesquisa {
  .filterSelect {
    max-width: 100% !important;
    width: 100%;
  }
  .label-md {
    margin: 0px;
  }
  .label-ios {
    margin: 0px;
  }
  .wela__search-card {
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(202, 202, 202, 0.49);
    border: 1px solid rgba(211, 211, 211, 0.35);

    h2 {
        font-weight: 600;
    }
    .rating {
      color: gold;
    }
    .followers {
      font-size: 14px;
      font-weight: 600;
    }
  }
}
