<ion-header no-border>
  <ion-navbar>
    <ion-title *ngIf="cardData">
      {{ cardData.title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="callShare()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button icon-only (click)="saveFavorite()">
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content style="padding: 0px; margin: 0px;" id="page5">
  <div class="card-header" *ngIf="cardPhoto">
    <img src="http://otavioalenski.techpublic.com.br/wela/api/v2/cardsphoto/{{ cardPhoto.photo_url }}" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />
    <ion-icon class="fa fa-leaf"></ion-icon>
  </div>

  <div id="visualizar-container4" *ngIf="cardData">
    <ion-list>
      <ion-item color="none" class="welaservice__header">
        <ion-avatar item-left>
          <img src="assets/img/avatar.png" />
        </ion-avatar>
        <h2>
          {{ cardData.author }}
        </h2>
        <h4>
          {{ cardData.title }}
        </h4>
        <h5>
          {{ cardData.category }}
        </h5>
        <small>{{ cardData.address }}</small>
      </ion-item>
      <button ion-item (click)="toggleDescription();" [ngClass]="{'section-active': showDescription, 'section': !showDescription}">
        Descrição
        <ion-icon item-end class="fa fa-chevron-down" style="font-size: 13px;" *ngIf="!showDescription"></ion-icon>
        <ion-icon item-end class="fa fa-chevron-up" style="font-size: 13px;" *ngIf="showDescription"></ion-icon>
      </button>
      <ion-item text-wrap id="descriptionDiv" class="welaservice__description animated fadeIn" *ngIf="showDescription">
        <div>
          <p>{{ cardData.description }}</p>
        </div>
      </ion-item>
      <button class="buttonComments" ion-item (click)="toggleComments();" [ngClass]="{'section-active': showComment, 'section': !showComment}">
        4.5
        <ion-icon class="fa fa-star"></ion-icon>
        <ion-icon class="fa fa-star"></ion-icon>
        <ion-icon class="fa fa-star"></ion-icon>
        <ion-icon class="fa fa-star"></ion-icon>
        <ion-icon class="fa  fa-star-half-o"></ion-icon>
        <br>
        <small>(10.000 seguidores)</small>
        <ion-icon item-end class="fa fa-chevron-down" style="font-size: 13px;" *ngIf="!showComment"></ion-icon>
        <ion-icon item-end class="fa fa-chevron-up" style="font-size: 13px;" *ngIf="showComment"></ion-icon>
      </button>
      <ion-item text-wrap id="commentsDiv" class="welaservice__comments animated fadeIn" *ngIf="showComment">
        <div>
          <h3>Comentários</h3>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col col-2 col-sm-1 class="welaservice__comments-star">
              <ion-icon class="fa fa-star fa-2x"></ion-icon>
              <span>4.3</span>
            </ion-col>
            <ion-col col-10 col-sm-11>Lorem ipsum lorem sitsum ipsum son</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2 col-sm-1 class="welaservice__comments-star">
              <ion-icon class="fa fa-star fa-2x"></ion-icon>
              <span>4.3</span>
            </ion-col>
            <ion-col col-10 col-sm-11>Lorem ipsum lorem sitsum ipsum son</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2 col-sm-1 class="welaservice__comments-star">
              <ion-icon class="fa fa-star fa-2x"></ion-icon>
              <span>4.3</span>
            </ion-col>
            <ion-col col-10 col-sm-11>Lorem ipsum lorem sitsum ipsum son</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-2 col-sm-1 class="welaservice__comments-star">
              <ion-icon class="fa fa-star fa-2x"></ion-icon>
              <span>4.3</span>
            </ion-col>
            <ion-col col-10 col-sm-11>Lorem ipsum lorem sitsum ipsum son</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <button id="visualizar-button2" ion-button class="color--deep" full (click)="sendAMessage();">
        Enviar Mensagem
      </button>
      <button id="visualizar-button2" ion-button class="color--mid" full (click)="sendAMessage();">
        Atendimento
      </button>
      <button id="visualizar-button2" ion-button class="color--light" full (click)="sendAMessage();">
        Endereço
      </button>
      <ion-item text-wrap text-center>
        <div class="welacard__social">
          <ion-icon class="fa fa-2x fa-facebook-square" style="color:#3b5998;"></ion-icon>
          <ion-icon class="fa fa-2x fa-instagram" style="color:purple;"></ion-icon>
          <ion-icon class="fa fa-2x fa-youtube-play" style="color:red;"></ion-icon>
        </div>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
