page-visualizar {
  .button {
    margin: 0px;
    height: 54px;
  }
  .list-md {
    margin: 0px;
  }
  .label-md {
    margin: 16px 0px;
  }
  .label-ios {
    margin: 16px 0px;
  }
  .card-header {
    position: relative;
  }
  .card-header ion-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
  }
  .buttonComments .fa-star,
  .buttonComments .fa-star-half-o {
    color: gold;
  }
  .welacard__social {
    display: flex;
    justify-content: space-around;
  }
  .welaservice__header {
    h2 {
      font-weight: 500;
    }
  }
  .welaservice__description {
    background: #fafafa;
  }

  .welaservice__comments-star {
    position: relative;
    color: gold;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      font-weight: 600;
      text-shadow: 1px 1px 1px black;
    }
  }
  .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
    background: none;
    padding-right: 8px;
  }

  .bands {
    animation: snap 1s forwards;
    stroke-width: 0;
    
  }
  
  @keyframes snap {
    from { 
      transform: scale3d(1, 1, 1); 
      filter: brightness(0.5);}
    30% {  
      transform: scale3d(1.25, 0.75, 1); }
    40% {  
      transform: scale3d(0.75, 1.25, 1); }
    50% {  
      transform: scale3d(1.15, 0.85, 1); }
    65% {  
      transform: scale3d(.95, 1.05, 1); }
    75% {  
      transform: scale3d(1.05, .95, 1); }
    to {   
      transform: scale3d(1, 1, 1);
      fill: #D22128; 
      filter: brightness(1);}
  }
  
}
