<ion-menu persistent="true" [content]="mainContent">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item menuClose class="menu-item" (click)="registerCard()">Cadastrar Cartão</button>
      <button ion-item menuClose class="menu-item" (click)="showFavorites()">Favoritos</button>
      <button ion-item menuClose class="menu-item" (click)="centralMessage()">Mensagens</button>
    </ion-list>
  </ion-content>

  <ion-footer>
    <button ion-item menuClose class="menu-item" (click)="checkLogin()">Logar / Registrar</button>
  </ion-footer>
</ion-menu>

<ion-nav #mainContent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
