// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$deep-blue: #327eff;
$mid-blue: #4288ff;
$light-blue: #5594ff;
$fa-font-path: "../assets/fonts" !default;
@import "font-awesome";
i[class^="fa-"],
ion-icon[class^="fa-"] {
  font-family: "FontAwesome" !important;
}

.item-block .item-inner {
  border-bottom: 0px !important;
}

*,
body {
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
}

.color--light {
  background-color: $light-blue;
}

.color--deep {
  background-color: $deep-blue;
}

.color--mid {
  background-color: $mid-blue;
}

.menu-item {
  padding: 0px;
}

.menu-item .item-inner {
  padding: 0px 16px;
}

.text-center {
  text-align: center !important;
}

.btn {
  padding: 8px 16px;
  border-radius: 30px;
}

.btn--register {
  background: #edc219;
  color: white;
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  letter-spacing: 1px;
}

.btn--second {
  background-color: lightblue;
  color: white;
}

.successHolder {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1--header {
  font-size: 26px;
  font-weight: 700;
  color: #488aff;
  margin-bottom: 20px;
  span {
    font-size: 26px;
    color: #9a9a9a;
  }
}
