cadastrar-card {
  h2 {
    font-weight: 300;
    &:first-child {
      margin: 0px 0px 30px 0px;
    }
    margin: 30px 0px;
  }
  .form-input {
    width: 100%;
    display: block;
    border-radius: 30px;
    border: 1px solid #FFC107;
    padding: 12px 16px;
    color: #404040;
    font-weight: 400;
    margin-bottom: 16px;
    -webkit-transition: ease-in-out 500ms;
    transition: ease-in-out 500ms;
  }
  .form-input:focus {
    box-shadow: 0px 0px 30px rgba(255, 193, 7, 0.45);
  }
  .btn--upload {
    width: 100%;
    margin-bottom: 16px;
    padding: 12px 16px;
    display: block;
    border-radius: 30px;
    background: #edc219;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
  }
  .form-image-preview {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 12px;
  }
}
