<ion-header no-border>

  <ion-navbar>
    <ion-title>Cadastrar Cartão</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="registerCard()" *ngIf="!showSuccess">
  <h2>Informações Pessoais</h2>
  <input type="text" [(ngModel)]="card.author" name="author" class="form-input" placeholder="Nome do Profissional">
  <input type="text" [(ngModel)]="card.address" name="address" class="form-input" placeholder="Endereço do Profissional">
  <input type="text" [(ngModel)]="card.email" name="email" class="form-input" placeholder="Email do Profissional">
  <h2>Informações do Serviço</h2>
  <input type="text" [(ngModel)]="card.title" name="title" class="form-input" placeholder="Título do Serviço">
  <button block class="btn--upload" type="button" (click)="getImage()">Enviar Imagem</button>
  <img src="{{imageFile}}" *ngIf="imageFile" class="form-image-preview animated fadeIn">
  <input type="text" [(ngModel)]="card.phone" name="phone" class="form-input" placeholder="(XX) XXXX-XXXX">
  <input type="text" [(ngModel)]="card.whatsapp" name="whatsapp" class="form-input" placeholder="(XX) XXXX-XXXX">
  <input type="text" [(ngModel)]="card.category" name="category" class="form-input">
  <input type="text" [(ngModel)]="card.website" name="website" class="form-input" placeholder="www.website.com">
  <input type="text" [(ngModel)]="card.facebook" name="facebook" class="form-input" placeholder="http://facebook.com/PaginaDoServico">
  <input type="text" [(ngModel)]="card.instagram" name="instagram" class="form-input" placeholder="@user-intagram">
  <input type="text" [(ngModel)]="card.youtube" name="youtube" class="form-input" placeholder="http://youtube.com/channel/paginadoservico">
  <textarea class="form-input" [(ngModel)]="card.description" name="description"></textarea>
  <div class="text-center">
    <button type="submit" class="btn btn--register">Cadastrar</button>
  </div>
</form>
<div class="successHolder" *ngIf="showSuccess">
  <lottie-animation-view [options]="lottieConfig" [width]="100" [height]="100">
  </lottie-animation-view>
  
</div>
</ion-content>
