page-wela {
  .searchIndex {
    position: relative;
    margin: 16px 0px;
  }
  .contentIndex {
    width: 100%;
    padding: 11px;
    border-radius: 10px;
    border: 1px solid lightgray;
  }
  .submitIndex {
    position: absolute;
    top: 4px;
    right: 4px;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: gold;
    border: 1px solid gold;
    color: white;
  }
  .welcome-user {
    padding: 30px 0px 0px;
    h1 {
      font-size: 26px;
      font-weight: 700;
      color: #488aff;
      margin-bottom: 20px;
      span {
        font-size: 26px;
        color: #9a9a9a;
      }
    }
  }
  
}
