<ion-header no-border>
  <ion-navbar>
    <button ion-button icon-only menuToggle><ion-icon name="menu"></ion-icon></button>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <img src="assets/img/2FD4Uz0yS8aSZXmjayrB_logo-wela.png" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <div *ngIf="logged" class="welcome-user animated fadeIn">
    <h1><span>Olá,</span><br> {{ logged.name }}<span>.</span></h1>
  </div>
  <div class="searchIndex">
    <input type="text" placeholder="Encontre profissionais incríveis." [(ngModel)]="searchService" class="contentIndex">
    <button class="submitIndex" (click)="searchContent(this.searchService)"><i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</ion-content>
