<ion-header>
  <ion-navbar>
    <ion-title>
      Conversar
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <div id="conversar-container1">
    <ion-list id="conversar-list4">
      <ion-item color="none" id="conversar-list-item19">
        <ion-avatar item-left>
          <img />
        </ion-avatar>
        <h2>
          Mensagem 1
        </h2>
      </ion-item>
      <ion-item color="none" id="conversar-list-item21">
        <ion-avatar item-left>
          <img />
        </ion-avatar>
        <h2>
          Resposta 1
        </h2>
      </ion-item>
      <ion-item color="none" id="conversar-list-item22">
        <ion-avatar item-left>
          <img />
        </ion-avatar>
        <h2>
          Resposta 2
        </h2>
      </ion-item>
      <ion-item-sliding>
        <ion-item color="none" id="conversar-list-item20">
          <ion-avatar item-left>
            <img />
          </ion-avatar>
          <h2>
            Mensagem 2
          </h2>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="positive"></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  <div id="conversar-container2">
    <form id="conversar-form4">
      <ion-item id="conversar-input2">
        <ion-label>
          Input
        </ion-label>
        <ion-input type="text" placeholder=""></ion-input>
      </ion-item>
    </form>
  </div>
  <button id="conversar-button1" ion-button color="positive" block>
    Atendimento
  </button>
</ion-content>