<!--
  Generated template for the CentralMessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CentralMessages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<h1>Últimas Mensagens</h1>
<ion-list>
  <ion-item>
    <h3>Nome</h3>
    <p>Lorem ipsum mensagem recebida</p>
  </ion-item>
  <ion-item>
    <h3>Nome 2</h3>
    <p>Lorem ipsum sum lorem tum</p>
  </ion-item>
</ion-list>
</ion-content>
